<div class="container mt-3 mb-3">
  <h3 class="row col-md-6 offset-md-5">Add new car</h3>
  <form>
    <div class="form-group row col-md-6 offset-md-2">
      <label for="carName">Car's name</label>
      <input type="text" class="form-control" id="carName">
    </div>
    <div class="form-group row col-md-6 offset-md-2">
      <label for="carYear">Car's year</label>
      <input type="number" class="form-control" id="carYear">
    </div>
    <div class="form-group row col-md-6 offset-md-2">
      <label for="carColor">Car's color</label>
      <input type="text" class="form-control" id="carColor">
    </div>
    <div class="form-group row col-md-6 offset-md-2">
      <label for="carCarcase">Car's carcase</label>
      <input type="text" class="form-control" id="carCarcase">
    </div>
    <div class="form-group row col-md-6 offset-md-2">
      <label for="carYear">Car's capacity(passengers)</label>
      <input type="number" class="form-control" id="carCapacity">
    </div>
    <div class="form-group row col-md-6 offset-md-2">
      <label for="carCategory">Car's category</label>
      <input type="number" class="form-control" id="carCategory">
    </div>
    <div class="row col-md-2 offset-md-4">
      <button type="button" class="btn btn-warning mt-1">Upload image</button>
      <input type="file"  style="display: none" accept="image/*">
    </div>
    <div class="row col-md-2 offset-md-7 mt-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
