<header>
  <<ul class="nav">
  <li class="nav-item">
    <a  routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="nav-link" href="#">Main</a>
  </li>
  <li class="nav-item">
    <a routerLink="/autopark" routerLinkActive="active" class="nav-link" href="#">Autopark</a>
  </li>
  <li class="nav-item">
    <a routerLink="/rules" routerLinkActive="active" class="nav-link" href="#">The terms of the lease</a>
  </li>
  <li class="nav-item">
    <a routerLink="/contact" routerLinkActive="active" class="nav-link" href="#">Contacts</a>
  </li>
</ul>
  <div class="container text-center description">
    <h1>Car rental</h1>
    <h2 class="mt-4 ml-3">Choose car for you</h2>
  </div>
</header>
