header{
  background-image: url('src/assets/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 720px;
}
.nav-link{
  margin-left: 220px;
  color: #ffffff;
  font-size: 1.3em;
}
.nav-link:hover{
  background: #f4f4f4;
  color: #010101;
}
h1{
  color: aliceblue;
}
.description{
  top: 15%;
  position: relative;
}
h2{
  color: #b5bab4;
}
.active{
  background: #999a9e;
}
