<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 my-auto text-center">
        <h5 class="text-uppercase font-weight-bold">Car Rental</h5>
      </div>
      <div class="col-md-4 offset-md-2 text-left">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>New York, NY 10012, US</p>
        <p>info@example.com</p>
        <p>+ 01 234 567 88</p>
        <p>+ 01 234 567 89</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Kozlyakovskaya Tatsiana
  </div>
</footer>
